*{

  margin:0;
  padding:0;
  font-family:'Poppins',sans-serif;
  box-sizing:border-box;
}


body
{
  background:#f7edff;

}

.buttons
{
  margin:50px;
}
.buttons button
{
  background:#333;
  color:Black;
  width:120px;
  outline:0;
  border-radius:5px;
  height:40px;
  cursor:pointer;
}

#toastBox
{
  position:absolute;
  bottom:30px;
  right:30px;
  display:flex;
  align-items:flex-end;
  flex-direction:column;
  overflow:hidden;
  padding:20px
}

.toast
{
  width:400 px;
  height:80 px;
  background:#fff;
  font-weight:500;
  margin:15px 0;
  box-shadow: 0 0 20px rgb(0,0,0,0.3);
  display:flex;
  align-item:center;
  position:relative;
  tranform:translate(100%);
  animation:moverleft 05s  linear forwards;
}

@keyframes moveleft
{
  100%
  {
    transform: translateX(100%);
  }
}


.toast i
{
  margin: 0 20px;
  font-size:35px;
  color: green;
}

.toast.error i
{
  color:red;
}
toast.invalid i
{
  color:orange;
}

.toast::after
{
  position:absolut;
  content:' ';
  left:0;
  bottom:0;
  width:100%
  height:5px;
  background:green;
  animation: anim 5s linear forwards;
}

@keyframes anim
{
  100%
  {
    width:0;
  }
}


.toast.error::after
{
  background:red;
}



.toast.invalid::after
{
  background:orange;
}




